---
title: "Who am I ?"
default_block: None
---
{% block main %}
  <ul class="nav nav-pills nav-container">
    <li class="active"><a href="#cv" data-toggle="pill"><span class="glyphicon glyphicon-user"></span> Curriculum vitae</a></li>
    <li><a href="#contact" data-toggle="pill"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="contact">
      <p>
        You can contact me <a href="mailto:julien@syx.fr">directly by
          e-mail</a>.
      </p>
    </div>
    <div class="tab-pane fade in active" id="cv">
      {% include "cv.html" %}
    </div>
  </div>

{% endblock main %}

{% block endjs %}
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1011816067;
var google_conversion_language = "fr";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "zp6RCLWv2AEQg6284gM";
var google_conversion_value = 0;
/* ]]> */
</script>

<script type="text/javascript">
bootstrap_tab_bookmark();
</script>

{% endblock %}
