---
title: "Talks"
default_block: None
---
{% block css %}
    <link href="{{ media_url('css/flags.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="media">
  <a class="pull-left" href="">
    <img class="media-object img-thumbnail" src="/media/images/projects/lisa.png">
  </a>
  <div class="media-body">
    <h4 class="media-heading">L.I.S.A : Build your personal "JARVIS"</h4>
    <span class="glyphicon glyphicon-map-marker"></span>
      <a href="#">
        <i>How to build a Digital Life Assistant for your home</i>,
      </a>
      Strasbourg
      <img class="flag flag-fr" alt="France"/>
    <br>
    <span class="glyphicon glyphicon-calendar"></span> Cancelled
    <br>
    <span class="glyphicon glyphicon-user"></span> Julien Syx
  </div>
</div>
{% endblock %}
